@model List<GameStore.Models.Game>

<h1>Каталог игр</h1>

<a href="/">На главную</a>

<hr />

@foreach (var game in Model)
{
    <div style="border:1px solid gray; padding:10px; margin-bottom:10px">

        <h3>@game.Title</h3>

        <p>Цена: @game.Price ₽</p>

        <a href="/Games/Details/@game.Id">Подробнее</a>

        <form method="post" action="/Games/Buy/@game.Id">
            <button type="submit">Купить</button>
        </form>

    </div>
}