<h2>Создать объявление</h2>

<form method="post">

    <label>Item ID</label>
    <input type="number" name="itemId" />

    <label>Цена</label>
    <input type="number" name="price" />

    <button type="submit">Создать</button>

</form>