@model List<GameStore.Models.Game>

<h1>Продать игру</h1>

<a href="/Market">Назад</a>

<hr />

<form method="post">

    <label>Игра:</label>

    <select name="gameId">

        @foreach (var game in Model)
        {
            <option value="@game.Id">@game.Title</option>
        }

    </select>

    <br /><br />

    <label>Цена:</label>

    <input type="number" name="price" />

    <br /><br />

    <button type="submit">Выставить на продажу</button>

</form>