<h2>Вход</h2>

<form method="post">

    <input name="email" placeholder="Email" />
    <br />

    <input name="password" type="password" placeholder="Пароль" />
    <br />

    <button type="submit">Войти</button>

</form>

<p style="color:red">@ViewBag.Error</p>