<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <title>Вход</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="auth-card">
        <h2>Вход</h2>

        <form method="post">
            <input name="email" placeholder="Email" />
            <input name="password" type="password" placeholder="Пароль" />
            <button class="btn" type="submit">Войти</button>
        </form>

        <p class="error">@ViewBag.Error</p>
        <a class="back-link center-link mt-20" href="/">На главную</a>
    </div>
</body>
</html>