<h2>Регистрация</h2>

<form method="post">

    <input name="Username" placeholder="Имя пользователя" />
    <br />

    <input name="Email" placeholder="Email" />
    <br />

    <input name="Password" type="password" placeholder="Пароль" />
    <br />

    <button type="submit">Зарегистрироваться</button>

</form>

<p style="color:red">@ViewBag.Error</p>